/* inter-100 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100;
	src: url("fonts/inter/inter-v12-latin-100.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-100.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-100.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-100.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-100.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-100.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-200 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	src: url("fonts/inter/inter-v12-latin-200.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-200.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-200.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-200.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-200.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-200.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/inter/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/inter/inter-v12-latin-300.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-300.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-300.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-300.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-300.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-300.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/inter/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-500.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-500.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-500.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/inter/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-600.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-600.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-600.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-600.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/inter/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-700.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("fonts/inter/inter-v12-latin-900.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-900.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-900.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-900.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-900.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-900.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: url("fonts/inter/inter-v12-latin-800.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inter/inter-v12-latin-800.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inter/inter-v12-latin-800.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inter/inter-v12-latin-800.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inter/inter-v12-latin-800.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inter/inter-v12-latin-800.svg#Inter") format("svg"); /* Legacy iOS */
}

/* inconsolata-200 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 200;
	src: url("fonts/inconsolata/inconsolata-v31-latin-200.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-200.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-200.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-200.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-200.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-200.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-300 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/inconsolata/inconsolata-v31-latin-300.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-300.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-300.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-300.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-300.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-300.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-regular - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/inconsolata/inconsolata-v31-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-regular.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-500 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/inconsolata/inconsolata-v31-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-500.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-500.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-500.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-500.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-500.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-600 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/inconsolata/inconsolata-v31-latin-600.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-600.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-600.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-600.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-600.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-600.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-800 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 800;
	src: url("fonts/inconsolata/inconsolata-v31-latin-800.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-800.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-800.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-800.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-800.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-800.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-700 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/inconsolata/inconsolata-v31-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-700.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-700.svg#Inconsolata") format("svg"); /* Legacy iOS */
}
/* inconsolata-900 - latin */
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 900;
	src: url("fonts/inconsolata/inconsolata-v31-latin-900.eot"); /* IE9 Compat Modes */
	src: local(""), url("fonts/inconsolata/inconsolata-v31-latin-900.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("fonts/inconsolata/inconsolata-v31-latin-900.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-900.woff") format("woff"),
		/* Modern Browsers */ url("fonts/inconsolata/inconsolata-v31-latin-900.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("fonts/inconsolata/inconsolata-v31-latin-900.svg#Inconsolata") format("svg"); /* Legacy iOS */
}

@font-face {
	font-family: "InterDisplay";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/inter-display/InterDisplay-Regular.woff2?v=3.12") format("woff2"),
		url("fonts/inter-display/InterDisplay-Regular.woff?v=3.12") format("woff");
}

body:not(#docXContainer *) {
	font-family: "Inter", sans-serif !important;
	overflow-x: hidden;
	user-select: none !important;
}

*:not(#docXContainer *) {
	font-family: "Inter", sans-serif !important;
	font-weight: 600;
	letter-spacing: -0.5px;
	user-select: none !important;
	outline: none !important;
}

.cm-panels {
	display: none !important;
}

.cm-theme,
.cm-theme > *,
.cm-content,
.cm-line > span,
.cm-line,
.cm-panels,
.cm-gutters,
.cm-gutterElement {
	font-family: "Inconsolata" !important;
	font-weight: 500 !important;
}

.cm-line {
	padding-left: 15px !important;
}

.cm-editor {
	border: none !important;
	outline: none !important;
}

.hover-underline:hover {
	text-decoration: underline;
}

#docXContainer,
#docXContainer > *,
.docx-wrapper,
.docx-wrapper > * {
	user-select: text !important;
}
